In [1]:
# sql and sqllite . SQL(structure query language) and SQLite (a C-language library that implements a small, fast, self-contained, high-reliability, full-featured, SQL database engine) 

import sqlite3

In [2]:
connection = sqlite3.connect('example.db')

In [3]:
## create a table 
cursor=connection.cursor()
cursor.execute('''Create Table If not Exists Employees(id Integer Primary Key, name Text not Null, age Integer not Null, department Text not Null)''')
connection.commit()

In [9]:
cursor.execute('''Insert Into Employees (id, name, age, department) Values (6, 'Alice', 30, 'HR'), (7, 'Bob', 25, 'IT'), (10, 'Charlie', 35, 'Finance'), (8, 'David', 28, 'Marketing') , (9, 'Eva', 32, 'Sales')''')
connection.commit()

In [10]:
cursor.execute('''
               SELECT * FROM Employees
               ''')

In [11]:
cursor.execute('Select * from Employees')
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 30, 'HR')
(2, 'Bob', 25, 'IT')
(3, 'Charlie', 35, 'Finance')
(4, 'David', 28, 'Marketing')
(5, 'Eva', 32, 'Sales')
(6, 'Alice', 30, 'HR')
(7, 'Bob', 25, 'IT')
(8, 'David', 28, 'Marketing')
(9, 'Eva', 32, 'Sales')
(10, 'Charlie', 35, 'Finance')

In [12]:
## update data in the table 
cursor.execute('Update Employees Set age=29 Where id=8')
connection.commit()

In [14]:
cursor.execute('Select * from Employees')
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 30, 'HR')
(2, 'Bob', 25, 'IT')
(3, 'Charlie', 35, 'Finance')
(4, 'David', 28, 'Marketing')
(5, 'Eva', 32, 'Sales')
(6, 'Alice', 30, 'HR')
(7, 'Bob', 25, 'IT')
(8, 'David', 29, 'Marketing')
(9, 'Eva', 32, 'Sales')
(10, 'Charlie', 35, 'Finance')

In [15]:
### delete data from the table
cursor.execute('Delete from Employees Where id=10')
connection.commit()

In [16]:
cursor.execute('Select * from Employees')
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 30, 'HR')
(2, 'Bob', 25, 'IT')
(3, 'Charlie', 35, 'Finance')
(4, 'David', 28, 'Marketing')
(5, 'Eva', 32, 'Sales')
(6, 'Alice', 30, 'HR')
(7, 'Bob', 25, 'IT')
(8, 'David', 29, 'Marketing')
(9, 'Eva', 32, 'Sales')

In [17]:
### connect to sales data db
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

cursor.execute('''Create Table If not Exists Sales(id Integer Primary Key, product_name Text not Null, quantity Integer Not Null, price Real Not Null, sale_date Text Not Null, region Text Not Null)''')

sales_data=[
    (1, 'Laptop', 5, 1200.00, '2023-01-15', 'North'),
    (2, 'Smartphone', 10, 800.00, '2023-01-20', 'South'),
    (3, 'Tablet', 7, 600.00, '2023-01-25', 'East'),
    (4, 'Monitor', 3, 300.00, '2023-02-01', 'West'),
    (5, 'Keyboard', 15, 100.00, '2023-02-05', 'Central')
    
]

cursor.executemany('''Insert Into Sales (id, product_name, quantity, price, sale_date, region) Values (?, ?, ?, ?, ?, ?)''', sales_data)
connection.commit()

In [18]:
## close the connection
connection.close()