In [2]:
import pandas as pd
data=[1,2,3,4,5]
series=pd.Series(data)

In [3]:
data={'a':1,'b':2,'c':3}    
series_dict=pd.Series(data)
print(series_dict)

a    1
b    2
c    3
dtype: int64

In [4]:
data=[10,20,30]
index=['a','b','c']
series=pd.Series(data,index=index)
print(series)

a    10
b    20
c    30
dtype: int64

In [5]:
data={
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'city':['New York', 'Los Angeles', 'Chicago']
}

In [7]:
df=pd.DataFrame(data)

In [8]:
print(df)

      Name  Age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [9]:
## create a Data frame list of Dictionaries

data=[
    {'Name': 'Alice', 'Age': 25, 'city': 'New York'},
    {'Name': 'Bob', 'Age': 30, 'city': 'Los Angeles'},
    {'Name': 'Charlie', 'Age': 35, 'city': 'Chicago'}
]

In [10]:
df=pd.DataFrame(data)

In [11]:
df.head()

      Name  Age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [12]:
df=pd.read_csv('./Details.csv')

In [14]:
df.head()

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode
0,B-25681,1096,658,7,Electronics,Electronic Games,COD
1,B-26055,5729,64,14,Furniture,Chairs,EMI
2,B-25955,2927,146,8,Furniture,Bookcases,EMI
3,B-26093,2847,712,8,Electronics,Printers,Credit Card
4,B-25602,2617,1151,4,Electronics,Phones,Credit Card

In [20]:
df.loc[0][4] # row

C:\Users\efte2\AppData\Local\Temp\ipykernel_25000\490419682.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.loc[0][4] # row

'Electronics'

In [19]:
df.iloc[0][4] # row

C:\Users\efte2\AppData\Local\Temp\ipykernel_25000\2645940724.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[0][4] # row

'Electronics'

In [21]:
df.isnull().sum()

Order ID        0
Amount          0
Profit          0
Quantity        0
Category        0
Sub-Category    0
PaymentMode     0
dtype: int64