In [1]:
my_set={1,2,3,4,5,6,7,8,9,10}
my_set.add(11)

## sets are

In [2]:
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [3]:
my_empty_set=set([1,2,3,4,5,6,7,8,9,10])

In [4]:
print(my_empty_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [5]:
my_set.add(12)

In [6]:
my_set.add(12)

In [7]:
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [8]:
my_set.discard(23)

In [9]:
my_set.discard(11)

In [10]:
my_set.pop()

1

In [11]:
my_set

{2, 3, 4, 5, 6, 7, 8, 9, 10, 12}

In [12]:
my_set.clear()

In [13]:
## set membership operations
my_set={1,2,3,4,5,6,7,8,9,10}
print(1 in my_set)

True

In [14]:
x= 11
isinstance(x, int)

True

In [15]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
set3=set1.union(set2)

In [16]:
set3

{1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
set4=set1.intersection(set2)

In [18]:
set4

{4, 5}

In [19]:
set1.intersection_update(set2)

In [20]:
set1

{4, 5}

In [21]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
set3=set1.symmetric_difference(set2)

In [22]:
set3

{1, 2, 3, 7, 8, 9}

In [23]:
print(set1.difference(set2))

{1, 2, 3}

In [26]:
set3={1,2,3,4,5}
set2={1,2,3}
print(set3.issubset(set2))

False

In [28]:
print(set2.issubset(set3))

True

In [29]:
lst=[1,2,3,4,5,6,7,8,9,10]
my_set=set(lst)

In [30]:
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [31]:
text="in the beginning was the word and the word was with god and the word was god"
words=text.split()

In [32]:
unique_words=set(words)

In [33]:
unique_words

{'and', 'beginning', 'god', 'in', 'the', 'was', 'with', 'word'}

In [34]:
len(unique_words)

8

In [26]:
x=[int(x) for x in input("Enter a list of numbers separated by spaces: ").split()]

In [27]:
x

[4, 5, 67, 89, 120, 234, 7]