In [1]:
empty_dict=dict()

In [2]:
empty_dict

{}

In [3]:
student={
    "name": "John Doe","roll": 101,
    "marks": {23,56,17}}

In [4]:
student

{'name': 'John Doe', 'roll': 101, 'marks': {17, 23, 56}}

In [5]:
for key,value in student.items():
    print(key, ":", value)

name : John Doe
roll : 101
marks : {56, 17, 23}

In [6]:
list1=[1,2,3,4,5,6,7,8,9,10]
for key,value in enumerate(list1):
    print(key, ":", value)

0 : 1
1 : 2
2 : 3
3 : 4
4 : 5
5 : 6
6 : 7
7 : 8
8 : 9
9 : 10

In [7]:
student['name']

'John Doe'

In [8]:
student.get('name')
student.get('age', 'Not Found')

'Not Found'

In [9]:
student["name"]="Eftekher Ali Efte"

In [10]:
student

{'name': 'Eftekher Ali Efte', 'roll': 101, 'marks': {17, 23, 56}}

In [11]:
keys=student.keys()

In [12]:
keys

dict_keys(['name', 'roll', 'marks'])

In [13]:
values=student.values()

In [14]:
values

dict_values(['Eftekher Ali Efte', 101, {56, 17, 23}])

In [15]:
## shallow copy
student_copy=student.copy()

In [16]:
print(student_copy)

{'name': 'Eftekher Ali Efte', 'roll': 101, 'marks': {56, 17, 23}}

In [17]:
student["name"]='Efte'

In [18]:
print(student_copy)
print(student)

{'name': 'Eftekher Ali Efte', 'roll': 101, 'marks': {56, 17, 23}}
{'name': 'Efte', 'roll': 101, 'marks': {56, 17, 23}}

In [19]:
student2=student

In [20]:
student

{'name': 'Efte', 'roll': 101, 'marks': {17, 23, 56}}

In [21]:
student2['name']='Efte Ali'

In [22]:
student

{'name': 'Efte Ali', 'roll': 101, 'marks': {17, 23, 56}}

In [24]:
students={
    "101": {"name": "John Doe", "marks": [23, 56, 17]},
    "102": {"name": "Jane Smith", "marks": [45, 67, 89]},
    "103": {"name": "Alice Brown", "marks": [12, 34, 56]}
}

In [25]:
for key, value in students.items():
    print(f"Roll: {key}, Name: {value['name']}, Marks: {value['marks']}")

Roll: 101, Name: John Doe, Marks: [23, 56, 17]
Roll: 102, Name: Jane Smith, Marks: [45, 67, 89]
Roll: 103, Name: Alice Brown, Marks: [12, 34, 56]

In [53]:
for rolls in students:
    # for student in rolls:
    #     print(student)
    for keys in students[rolls]:
        print(keys, ":", students[rolls][keys])

name : John Doe
marks : [23, 56, 17]
name : Jane Smith
marks : [45, 67, 89]
name : Alice Brown
marks : [12, 34, 56]

In [54]:
for student_id, student_info in students.items():
     print(f"end= {student_id}, Name: {student_info['name']}, Marks: {student_info['marks']}")

end= 101, Name: John Doe, Marks: [23, 56, 17]
end= 102, Name: Jane Smith, Marks: [45, 67, 89]
end= 103, Name: Alice Brown, Marks: [12, 34, 56]

In [55]:
for student_roll, student_info in students.items():
    print(f"Roll: {student_roll}")
    for key, value in student_info.items():
        print(f"{key}: {value}")
    print()  # Print a newline for better readability

Roll: 101
name: John Doe
marks: [23, 56, 17]

Roll: 102
name: Jane Smith
marks: [45, 67, 89]

Roll: 103
name: Alice Brown
marks: [12, 34, 56]

In [56]:
squares={x:x**2 for x in range(1, 11)}

In [57]:
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [58]:
lst1=[int(x) for x in input("Enter numbers separated by space: ").split()]

In [59]:
lst1

[1, 2, 45, 67, 89, 1290]

In [60]:
numbers=[1,1,1,2,2,2,3,3,3,4,4,4,5,5,5,6,6]

In [61]:
frequency={}

In [62]:
for number in numbers:
    if number in frequency:
        frequency[number] += 1
    else:
        frequency[number] = 1

In [63]:
frequency

{1: 3, 2: 3, 3: 3, 4: 3, 5: 3, 6: 2}

In [64]:
## Merge  2 dictionaries into  one
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
merged_dict = {**dict1, **dict2}

In [65]:
merged_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [26]:
### Assignment 5: Dictionary Comprehensions

##Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.
cubes = {x: x**3 for x in range(1, 11)}

In [27]:
cubes

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [37]:
## dictionarties into json
import json
# Convert the 'students' dictionary to a JSON string
students_json = json.dumps(students, indent=6)

In [38]:
## json format
print(students_json)

{
      "101": {
            "name": "John Doe",
            "marks": [
                  23,
                  56,
                  17
            ]
      },
      "102": {
            "name": "Jane Smith",
            "marks": [
                  45,
                  67,
                  89
            ]
      },
      "103": {
            "name": "Alice Brown",
            "marks": [
                  12,
                  34,
                  56
            ]
      }
}

In [29]:
students_json

'{\n    "101": {\n        "name": "John Doe",\n        "marks": [\n            23,\n            56,\n            17\n        ]\n    },\n    "102": {\n        "name": "Jane Smith",\n        "marks": [\n            45,\n            67,\n            89\n        ]\n    },\n    "103": {\n        "name": "Alice Brown",\n        "marks": [\n            12,\n            34,\n            56\n        ]\n    }\n}'

In [ ]:
# convert json to dictionaries
students_json

In [5]:
to_do_list=["buy groceries", "clean the house", "pay bills"]

In [6]:
to_do_list.append("schedule doctor's appointment")
to_do_list.append("call mom")
to_do_list.append("finish homework")

In [7]:

x

NameError: name 'x' is not defined

In [8]:
def remove(to_do_list):
    x =int( input(f"Select the task you have completed: {dict(enumerate(to_do_list))}\n"))
    to_do_list.remove(to_do_list[x])
    if len(to_do_list) == 0:
        
        print("All tasks completed!")
    else:
        print(f"Remaining tasks: {to_do_list}")
    return to_do_list

In [9]:
def add(to_do_list):
    x = input("Enter the task you want to add: ")
    to_do_list.append(x)
    print(f"Updated to-do list: {to_do_list}")
    return to_do_list

In [10]:
def work(to_do_list):
    while True:
        choice = input("Enter 'a' to add a task, 'r' to remove a task, or 'q' to quit: ").lower()
        if choice == 'a':
            add(to_do_list)
        elif choice == 'r':
            remove(to_do_list)
        elif choice == 'q':
            print("Exiting the to-do list manager.")
            break
        else:
            print("Invalid choice. Please try again.")

In [11]:
work(to_do_list)

Updated to-do list: ['buy groceries', 'clean the house', 'pay bills', "schedule doctor's appointment", 'call mom', 'finish homework', 'i will do homework']
Remaining tasks: ['buy groceries', 'clean the house', 'pay bills', "schedule doctor's appointment", 'call mom', 'finish homework']
Remaining tasks: ['buy groceries', 'clean the house', 'pay bills', "schedule doctor's appointment", 'call mom']
Remaining tasks: ['buy groceries', 'pay bills', "schedule doctor's appointment", 'call mom']
Remaining tasks: ['buy groceries', 'pay bills', "schedule doctor's appointment"]
Exiting the to-do list manager.