## lamba functions are anonynomus function define using lambda keyword

- anonymous functions define using the lambda keyword . They can have any number of arguments but only one expression

In [2]:
#syntax
# lambda arguments: expression

In [3]:
x=lambda a,b,c: a+b+c
print(x(1,2,3))

6

In [4]:
eve=lambda x:x%2==0

In [5]:
eve(3)

False

In [6]:
## map () - applies a function to all items in an input list
# syntax: map(function, iterable)
#map uses lazy loading, so it does not compute the results until you iterate over it
numbers = [1, 2, 3, 4, 5]
squared_numbers=map(lambda x:x**2, numbers)

In [7]:
list(map(lambda x:x**2, numbers))  # Convert map object to list to see results

[1, 4, 9, 16, 25]

In [2]:
numbers = [1, 2, 3, 4, 5]


def is_even(x):
    return x % 2 == 0

In [4]:
 # Apply is_even function to each element in numbers
quarenumbers=map(lambda x:x**2, numbers)  # Convert map object to list to see results

In [6]:
quarenumbers=list(quarenumbers)  # Convert map object to list to see results

In [8]:
quarenumbers

[1, 4, 9, 16, 25]

SyntaxError: invalid syntax (797287335.py, line 1)

In [11]:
# Output: [1, 4, 9, 16, 25]

## The map() function applies a given function to all items in an input list (or any other iterable) and returns a map object(an iterator) . This is partcularly useful for transforming data in a list comprehensively

In [14]:
numbers1= [1, 2, 3, 4, 5]
numbers2= [6, 7, 8, 9, 10]

added_numbers = map(lambda x, y: x + y, numbers1, numbers2)
print(list(added_numbers))  # Output: [7, 9, 11,

[7, 9, 11, 13, 15]

In [18]:
numbers_of_strings = ['1', '2', '3', '4', '5']
converted_numbers = list(map(int, numbers_of_strings))

In [19]:
converted_numbers

[1, 2, 3, 4, 5]

In [20]:
print(converted_numbers)

[1, 2, 3, 4, 5]

In [21]:
words=['apple', 'banana', 'cherry'
, 'date', 'elderberry']

converted_words = list(map(lambda x: x.upper(), words))

In [23]:
print(converted_words)

['APPLE', 'BANANA', 'CHERRY', 'DATE', 'ELDERBERRY']

In [24]:
def number (x):
    return x**2
numbers = [1, 2, 3, 4, 5]
squared_numbers = map(number, numbers)  # Convert map object to list to see results

In [ ]:
eft=[1, 2, 3, 4, 5,7, 8, 9, 10, 11, 12, 13, 14, 15]
 # Output: [1, 4, 9,

[1, 4, 9, 16, 25]

In [26]:
def num(x):
    if x%2==0:
        return True
    else:
        return False

In [27]:
numbers=map(num, eft)  # Convert map object to list to see results
print(list(numbers))  # Output: [True, False, True, False, True,

[False, True, False, True, False, False, True, False, True, False, True, False, True, False]

In [28]:
def get_name(person):
    return person['name']

In [29]:
people=[
    {'name': 'Alice', 'age': 30},
    {'name': 'Bob', 'age': 25},
    {'name': 'Charlie', 'age': 35}
, {'name': 'David', 'age': 28}
, {'name': 'Eve', 'age': 22}
]

In [31]:
list(map(get_name,people ))  # Convert map object to list to see results

['Alice', 'Bob', 'Charlie', 'David', 'Eve']

In [12]:
cart=[
    {"item": "apple", "price": 100.0, "quantity": 3},
    {"item": "banana", "price": 0.95, "quantity": 5},
    {"item": "orange", "price": 0.85, "quantity": 2}]

In [13]:
def item_price(item):
    return item['price'] * item['quantity']

In [14]:
item_cart=list(map(item_price, cart))  # Convert map object to list to see results

In [15]:
item_cart

[300.0, 4.75, 1.7]

In [32]:
def read(file):
    with open(file, 'r') as f:
        lines = [line.strip() for line in f.readlines()]
    return lines

In [33]:
read('./sample.txt')

['Hello world how are you', 'My name is Eftekher ali Efte', 'hello world']