- the filter

- The filter () function in python.
-  The filter() function constructs

filter() function constructs an iterator from elements of an iterable for which a functio returns true. it is used to  filter out items from a list basede on a condition

In [1]:
def even(num):
    return num % 2 == 0

In [2]:
lst=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [3]:
filter(even, lst)  # This will return an iterator, not a list
even_numbers = list(filter(even, lst))  # Convert to list to see results

In [4]:
even_numbers
# Output: [2, 4, 6, 8, 10,

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [5]:
def prime_number(lst):
    def is_prime(n):
        if n <= 1:
            return False
        for i in range(2, int(n**0.5) + 1):
            if n % i == 0:
                return False
        return True

    return list(filter(is_prime, lst))

In [6]:
prime_number(lst)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [7]:
greater_than_five=list(filter(lambda x: x > 5, lst))

In [8]:
greater_than_five

[6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [9]:
## filter with a lambda function annd multiple conditions
greater_than_five_and_even = list(filter(lambda x: x > 5 and x % 2 == 0, lst))

In [10]:
greater_than_five

[6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [11]:
people=[
    {"name": "Alice", "age": 30},
    {"name": "Bob", "age": 25},
    {"name": "Charlie", "age": 35},
    {"name": "David", "age": 20},
    {"name": "Eve", "age": 28},
    {"name": "Frank", "age": 22},
    {"name": "Grace", "age": 40},
    {"name": "Hannah", "age": 18},
    {"name": "Ivy", "age": 32},
    {"name": "Jack", "age": 27}
    
]

In [16]:
def get_age(person):
    if person["age"] > 25:
        return person["age"]

In [17]:
get_age_list = list(map(get_age, people))

In [18]:
get_age_list

[30, None, 35, None, 28, None, 40, None, 32, 27]

In [19]:
greater_than_25=list(filter(get_age,people ))

In [21]:
greater_than_25

[{'name': 'Alice', 'age': 30},
 {'name': 'Charlie', 'age': 35},
 {'name': 'Eve', 'age': 28},
 {'name': 'Grace', 'age': 40},
 {'name': 'Ivy', 'age': 32},
 {'name': 'Jack', 'age': 27}]